@tailwind base;
@tailwind components;
@tailwind utilities;

.topBlur {
	position: fixed;
	width: 100%;
	height: 15%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: linear-gradient(180deg, #0f0f0f, rgba(32, 32, 35, 0.01) 99%);
	mask-image: linear-gradient(#1f2028, transparent);
	backdrop-filter: blur(5px);
	z-index: 9999999;
}

@layer base {
	html {
		@apply bg-brand-background;
	}
}
